.page-template-page-portfolio-php {
	#content {
		padding:2em 0 0 0;
		@include breakpoint(baby-bear) {
			padding:1em 0 0 0;
		}
		// border-bottom:2px solid rgba(0,0,0,0.25);

	}
}

.galleryWrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	&.on {
		overflow: auto;
	}

}

.frame {
	width:100%;
	@include opacity(0);
	.fotorama--wp {
		margin: 0;
	}
}


.gallery_intro {
	width: 100%;
	min-height: 100%;
	background-color: #FFF;
	border-left: 2px solid $primary_color;
	position: absolute;
	top: 0;
	left:-100%;
	@include opacity(0);

	@include breakpoint(baby-bear) {
		border: none;
	}	


	article {
		padding:2em 4em;

		@include breakpoint(baby-bear) {
			padding: 2em 0;
		}		
	}	
}

.gallery {
	width:100%;
	max-width:960px;
	margin: 0 auto;
}

#moreInfo {
	display:none;
	position: absolute;
	width:100%;
	bottom: -5px;
	left:1em;
	text-decoration: none;
	font-family: $heading_font;
	font-size:1.3em;
	line-height:1em;
	color: $secondary_color;
    @include transition-property(all);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in);   

    &:hover {
    	padding-left:5px;
    	text-decoration: underline;
    }
	// &.mob {
	// 	bottom:-1.2em;
	// }
	@include breakpoint(baby-bear) {
		padding-bottom: 1em;
		position: inherit;
	}
}

.page-template-page-portfolio-php  {
	#moreInfo {
		@include breakpoint(baby-bear) {
			display:block;
		}
	}
}


.fotorama--wp {
	margin: 0;	

	.fotorama__nav__frame {
		@include opacity(0.6);

		&.fotorama__active {
			@include opacity(0.9);
		}
	}

	.fotorama__caption {
		display: none;
		// font-family: $body_font;
		// font-size: 15px;
		// color: red;
		// line-height: 1em;
		// bottom: 0;
	}
		
	// .fotorama__wrap {
	// 	position: static;

	// 	.fotorama__nav-wrap {
	// 		position: absolute;
	// 		bottom: 0;
	// 		left: -70%;
	// 		border: 1px solid red;

	// 	}
	// }
}	


.fotorama__stage {
	// border: 1px solid $body_color;
	// box-sizing: border-box;
}


.fotorama__thumb-border {
	border-color: $primary_color;
}

.fotorama__nav-wrap {
	clear: both;
	margin: .5em 0;
	display: none;
	@include opacity(1);
    @include transition-property(all);
    @include transition-duration(0.8s);
    @include transition-timing-function(ease-in);    		

	&.idle {
		@include opacity(0);
	}
}




.fotorama-caption {
	display: none;
	width: 75%;
	height: 40px;
	float:right;
	margin: 0;
	padding-top:10px;
	text-align: right;
	color: $body_color_light;
	font-size: .9em;
	@include breakpoint(mama-bear) {
		width: 100%;
		text-align: left;
		height: auto;
	}
}





.fotorama_custom__arr {
	width:50px;
	height: 50px;
	float: left;


	text-indent: -99999px;
	background: url('../img/gallery-nav2.png') no-repeat;

	@include breakpoint(mama-bear) {
		width:33.3%;
	}

	@include opacity(.5);
    @include transition-property(all);
    @include transition-duration(250ms);
    @include transition-timing-function(ease-in);  

	&:hover {
		cursor: pointer;
	}

	&.fotorama_custom__arr--prev {
		background-position: -150px 0;

		@include breakpoint(mama-bear) {
			background-image: url(../img/arr-left.png);
			background-position:0 50%;
		}		
	}

	&.fotorama_custom__arr--thumbs {
		background-position: -5px 0;

		&.on {
			@include opacity(1);
		}

		@include breakpoint(mama-bear) {
			background-image: url(../img/thumbs.png);
			background-position:50% 50%;
		}

	}

	&.fotorama_custom__arr--next {
		background-position: -300px 0;

		@include breakpoint(mama-bear) {
			background-image: url(../img/arr-right.png);
			background-position:100% 50%;
		}		

	}

}




.no-touch {
	.fotorama_custom__arr {
		&.fotorama_custom__arr--prev {
			&:hover {
				@include opacity(1);
			}

		}
		&.fotorama_custom__arr--thumbs {
			&:hover {
				@include opacity(1);
			}
		}
		&.fotorama_custom__arr--next {
			
			&:hover {
				@include opacity(1);
			}

		}

	}	
}



.fullscreen {
	.fotorama-caption, .fotorama_custom__arr, .fotorama__nav-wrap	 {
		display: none;
	}
}










