* {
  @include box-sizing(border-box);
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

img.attachment-post-thumbnail {
	width: 100%;
}

html, body {
	// background-color:$off_white;
	background-color:whitesmoke;
	height: 100%;
	// background-image: url(../img/tiny_grid.png) ;
	// background-size:20%;
	// background: url(../img/lil_fiber.png) $off_white;
	// background: url(../img/classy_fabric.png) $dark;
	&.home {
		background-color: transparent;
		.wrapper {
			background-color: transparent;
		}
	}
}

.wrapper {
	// border-top:5px solid $primary_color;
	// padding-top: 1em;
	margin-bottom: 3em;
	background-color:$off_white;
	height: 100%;
	// padding:0 2em;
}

.site-content  {
	padding-top: 2em;
	border-top:5px solid $secondary_color;
}

.home {
	.site-content {
		border: none;
	}
}

/* =Global
----------------------------------------------- */



/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


.site-content {
	// margin-top:2em;
}


.content-area {
	// border-left: 1px dashed $body_color_light;
	// border-right: 1px dashed $body_color_light;
	// padding-top: 2em;
}




#main {
	// position: relative;




}








.site-footer {
	padding:2em;
	margin-top: 1em;

	.nav {
		li {
			a {
	            text-transform: uppercase;
	            font-family: $heading_font;
	            font-weight: normal;
	            color: $heading_color;
	            font-size: .9em;
	            display: block;
	            padding:0 1em;

			}
		}
	}	
}



// .site-title {
// 	.corner {
// 		position: absolute;
// 		width:10%;
// 		height:10%;

// 		&.tl {
// 			left:0;
// 			top:0;
// 			border-left: 1px solid $body_color_light;
// 			border-top: 1px solid $body_color_light;
			
// 		}
// 		&.tr {
// 			right:0;
// 			top:0;
// 			border-right: 1px solid $body_color_light;
// 			border-top: 1px solid $body_color_light;
// 		}
// 		&.bl {
// 			bottom:0;
// 			left:0;
// 			border-bottom: 1px solid $body_color_light;
// 			border-left: 1px solid $body_color_light;
// 		}
// 		&.br {
// 			bottom:0;
// 			right:0;
// 			border-bottom: 1px solid $body_color_light;
// 			border-right: 1px solid $body_color_light;
// 		}


// 	}	
// }

// .content-area {
// 	position: relative;
	
// 	.corner {
// 	position: absolute;
// 	width:10%;
// 	height:10%;

// 	&.tl {
// 		left:0;
// 		top:0;
// 		border-left: 1px dashed $body_color_light;
// 		border-top: 1px dashed $body_color_light;
		
// 	}
// 	&.tr {
// 		right:0;
// 		top:0;
// 		border-right: 1px dashed $body_color_light;
// 		border-top: 1px dashed $body_color_light;
// 	}
// 	&.bl {
// 		bottom:0;
// 		left:0;
// 		border-bottom: 1px dashed $body_color_light;
// 		border-left: 1px dashed $body_color_light;
// 	}
// 	&.br {
// 		bottom:0;
// 		right:0;
// 		border-bottom: 1px dashed $body_color_light;
// 		border-right: 1px dashed $body_color_light;
// 	}


// 	}
// }








