.grid {
  margin: 0 auto;
  max-width:$max-width;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
  @include breakpoint(init) {
    margin: 0 2%;
  }

}



[class*='col-'] {
    float: left;
  // padding-right: $pad;

  .grid &:last-of-type {
    padding-right: 0;
  }
}

 

.col-2-3 {
    width: 66.66%;
    @include breakpoint( mama-bear) {
        float:none;
        width:100%;
    }    
}

.col-1-3 {
    width: 33.33%;
    @include breakpoint( mama-bear) {
        float:none;
        width:100%;

    }    
}


.col-1-2 {
    width: 50%;
    @include breakpoint( baby-bear) {
        float:none;
        width:100%;
    }    
}

.col-1-4 {
    width: 25%;
    @include breakpoint( baby-bear) {
        float:none;
        width:100%;
    }    
}

.col-1-8 {
    width: 12.5%;
    min-width:100px;
}

.col-3-4 {
    width: 75%;
    @include breakpoint( baby-bear) {
        float:none;
        width:100%;
    }    
}


.module {
  padding: $pad;

}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}
