.site-header {
	padding: 2em 0 0 0;
	border-top:5px solid $primary_color;
	margin:0;
	position: relative;
}

// .head-wrap {
// 	position: absolute;
// 	top:2em;
// 	bottom:0;
// 	// padding-left:2em;
// 	@include breakpoint(baby-bear) {
// 		position: initial;
// 	}
// }

.home {
	.site-header {
		border: none;
	}
}

.site-title {
	// position: relative;
	margin: 0 0 3em 0;

	a {
		display: block;		
		text-decoration: none;

		h1 {		
			letter-spacing: $custom-letter-spacing;   
			color: $secondary_color;	
			font-size: 2.289473684em;
			// line-height: 1.588235294em;
			// margin-top: 0.79411765em;
			margin-bottom: 0.79411765em;				
		}

		@include breakpoint(baby-bear) {
			display: inline-block;
		}

	}

	@include breakpoint(baby-bear) {
		margin: 0;
	}
}



