

#sidebar {
	width:20%;
	float:left;
	// padding-top:2em;

	ul {
		list-style: none;
		padding:0;
		margin: 0;

		li {
			text-align: left;
			margin-bottom: 1em;

		    &.current_page_item {

		    	a {
					color: $body_color;
					font-family: $heading_font;
					letter-spacing: $custom-letter-spacing;   

					// @include text-shadow(rgba(#000, 0.2) 1px 1px 0);	

					.myArrow {
						display: inline-block;
						width: 20px;
						height: 20px;
						background: url(../img/play.svg) top left no-repeat;
						background-size: 100%;
					}

					// &:before {
					// 	content: '>   ';
					// 	font-size: 1.5em;
					// }
	

					// &:before {
					// 	content: "\e005";
					// 	// font-family: icons;
					// 	// font-size: 13px;
					// 	color: $body_color;
					// 	display: block;
					// 	width: 16px;
					// 	text-align: left;
					// 	font-weight: 400;
					// 	line-height: 26px;
					// 	// position: absolute;
					// 	// top: 0;
					// 	// left: 0;
					// }	    		
		    	}
		    	
		    }			

			a {
			    display: block;
			    text-decoration: none;    
			    font-family:$heading_font;
			    // border-left: 1px solid $body_color_light;
			    // padding-left: 2.6em;

			    font-weight:normal;
			    text-transform: uppercase;
			    color: $body_color_light;

			}

			.arrow {
				font-family: $heading_font;
				font-size: 1.5em;
				display: block;
				float: right;
				padding-right:5em;
				padding-top:-10px;
			}
		}

		&:hover {
			li {
				a {
					color: $body_color;
					// @include text-shadow(rgba(#000, 0.2) 1px 1px 0);	
				}
			}
		}
	}
}