/* -----------------------------------------
   Navigation Styles
----------------------------------------- */


.nav{
    list-style:none;
    margin-left:0;
    @extend .cf;

    > li{

        &.active > a {
            }        
        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
            text-decoration:none;
            :hover {
                text-decoration:none;
            }

        }
    }
}










/* from underscores style.css = Menu
----------------------------------------------- */

// .main-navigation {
//     display: block;
// }

// .main-navigation ul {
//     list-style: none;
//     margin: 0;
//     padding-left: 0;
// }

// .main-navigation ul ul {
//     // display: none;
//     margin-left: 4em;
// }

// .main-navigation ul li:hover > ul {
//     display: block;
// }
#site-navigation {
    @include opacity(0);
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);    

}

.main-navigation {
    display: block;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}







/* li styles
----------------------------------------------- */
#menu-primary {
    @include opacity(1);
    @include transition-property(all);
    @include transition-duration(0.8s);
    @include transition-timing-function(ease-in);      
    &.idle {
        @include opacity(0);
    }   

    @include breakpoint(baby-bear) {
        padding-bottom: 2em;
    } 
}


#menu-primary > li {


    &.portfolio_link {
        margin-bottom: 3em;
        @include breakpoint(baby-bear) {
            margin-bottom: 0;
        }
    }
    &.li_contact {
        margin-top: 2em;
    }

   > a {
        letter-spacing: $custom-letter-spacing;   
        font-family:$body_font;
        font-weight:normal;
        text-transform: uppercase;    
        font-size: 14px;
        text-decoration: none; 
        color: $body_color_light;  
        padding: .2em 0;
        @include transition-property(all);
        @include transition-duration(0.15s);
        @include transition-timing-function(ease-in);     

        &:hover {
            color: $secondary_color; 
            border-color: $secondary_color;
        }      
    }

    &.current-menu-item, &.current-page-ancestor   {

        > a {
            // padding-left:.3em;
            color: $secondary_color;            
        }

        .subMenuTrigger, .navBullets {
            color: $body_color;
        }
    }

    &.on {
        > a {
            // padding-left:.3em;
            color: $body_color;             
        }
    }

}




// /* Sub-Nav styles ---------------------- */
// .main-navigation ul {

//     .sub-menu {
//         display: none;
//         margin: 0;

//         li {
//            > a {
//                 text-decoration: none;
//                 text-transform: uppercase;
//                 // letter-spacing: $custom-letter-spacing;
//                 color: $body_color_light;  

//                 &:hover {
//                     color: $body_color; 
//                 }
//             }

//             &.current-menu-item, &.current-page-ancestor   {

//                 > a {
//                     border-top: none; 
//                     color: $body_color;            
//                 }
//             }        
//         }
//     }

// }

// .page-template-page-portfolio-php {  

// .main-navigation ul {

//     .sub-menu {
//         display: block;
//         }
//     }    
// }







.navBullets {
    display: inline-block;
    margin-right:1em;
    color: $body_color_light;

}

.subMenuTrigger {
    display: inline-block;
    font-size: 1.1em;
    // width: 1em;
    // height: 1em;
    margin-left:1em;
    color: $body_color_light; 

    &:hover {
        cursor: pointer;
    }   

    &.rotate {
        @include transform(rotate(90deg)); 
    }
}





.main-navigation ul ul a {
    // width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
// .main-navigation ul li:hover > ul {
//     display: block;
// }
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}





/* Small menu */
.menu-toggle {
    cursor: pointer;
    display: none;
    position: absolute;
    right:.5em;
    top:.0;

    span.navicon {
        position: absolute;
        right:5px;
        top:10px;
        width: 25px;
        height: 20px;
        background: url(../img/nav.png) -30px 0 no-repeat;
    }  
}

.homepage {
    span.navicon {
        background-position: 0 0;
    }

    #menu-primary > li.on > a {
        color: #fff;
    }

}



@include breakpoint (baby-bear) {
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }

    .main-navigation ul {

        display: none;

        li {
            float: none;
            width: 100%;
            text-align: left;

            a {
                padding:1em 0;

            }
        }

    }
}













.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/* from underscores style.css = Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
    margin: 0 0 1.5em;
    overflow: hidden;
}
[class*="navigation"] .nav-previous {
    float: left;
    width: 50%;
}
[class*="navigation"] .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
