/* -----------------------------------------
   Typography Styles
----------------------------------------- */
html,
body,
button,
input,
select,
textarea  {
	font-family: $body_font;
	font-size:$body_font_size;
	line-height:$body_line_height;
	letter-spacing: $letter-spacing;
	color:$body_color;
}


/* Links */
a {
	color: $link_color;
}
a:visited {
	color: $link_color;
}

 .no-touch {

	a:hover,
	a:focus,
	a:active {
		color: $link_hover_color;
	}

}


// Disable default touch browser tap highlights
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


a.active {
	color:red;
}




/* heaadings */
h1,h2, h3, h4, h5, h6 {
	font-family:$heading_font;
	font-weight:normal;
	text-transform: uppercase;
	// color: $heading_color;
}

#main h1 {
	color:$body_color;
}

h1 {
	font-size:$h1-size;
}
h2 {
	font-size:$h2-size;

}
h3 {
	font-size:$h3-size;

}
h4 {
	font-size:$h4-size;

}



/* Text elements */
p {
	// margin-bottom: 1.5em;
}
ul, ol {
	// margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}

b, strong {
	font-weight: bold;
}







// body {
//   font-size: 1.1875em;
//   line-height: 1.421052632em;
//   max-width: 760px;
//   margin: 0 auto;
// }
h1 {
  font-size: 5.842105263em;
  line-height: 1.216216215em;
  margin-top: 0.48648649em;
  margin-bottom: 0.24324324em;
}
h2 {
  font-size: 3.263157895em;
  line-height: 1.306451613em;
  margin-top: 0.87096774em;
  margin-bottom: 0.43548387em;
}
h3 {
  font-size: 1.789473684em;
  line-height: 1.588235294em;
  margin-top: 0.79411765em;
  margin-bottom: 0.79411765em;
}
h4 {
  font-size: 1em;
  line-height: 1.421052632em;
  margin-top: 1.42105263em;
  margin-bottom: 1.42105263em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.42105263em;
  margin-bottom: 1.42105263em;
}











/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
